@font-face {
    font-family: "Oswald";
    src: url('../Assets/Fonts/Oswald-ExtraLight.ttf') format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Oswald";
    src: url('../Assets/Fonts/Oswald-Light.ttf') format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Oswald";
    src: url('../Assets/Fonts/Oswald-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Oswald";
    src: url('../Assets/Fonts/Oswald-Medium.ttf') format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Oswald";
    src: url('../Assets/Fonts/Oswald-SemiBold.ttf') format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Oswald";
    src: url('../Assets/Fonts/Oswald-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url('../Assets/Fonts/Lato-Thin.ttf') format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Lato";
    src: url('../Assets/Fonts/Lato-ThinItalic.ttf') format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Lato";
    src: url('../Assets/Fonts/Lato-Light.ttf') format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Lato";
    src: url('../Assets/Fonts/Lato-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url('../Assets/Fonts/Lato-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: 700;
}



